body
{
background-color: #f3eef7;

background-attachment: fixed;
background-size: contain;
}

.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
li
{
    padding-top: 60px;
    list-style-type: none;
}

.logo
{
    display: flex;
}
.logo > h3
{
    padding-top:60px;
    font-weight: bolder;
}
