 .btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255, 255, 255, 0),
                -4px -4px 6px 0 rgba(245, 0, 212, 0.5), 
      inset -4px -4px 6px 0 rgba(201, 16, 238, 0.59),
      inset 4px 4px 6px 0 rgba(192, 216, 212, 0.4);
  } 

  .custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(179, 56, 56);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #EEE2DC;
    line-height: 3px;
    margin-bottom: 50px;
    border-radius: 8px;

  }
  img
  {
    border-radius: 8px;

  }
  
  .price {
    color: #123C69;
    font-size: 22px;
  }
  
  /* .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #EDC7B7;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  } */
  
  .card button:hover {
    opacity: 0.7;
  }

  .column {
    float: left;
    width: 25%;
    padding: 10px 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin-left:176px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .slogan
{
    background-color: #EDC7B7;
    height:60px;
    text-align: center;
    padding: 5px;
    border-radius: 12px;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }

  